*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.cont{
    background-color: #1e1e1e;
    height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
}
#header
{
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 20px , 80px;
   background: #D14009;
   box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
   
}
.logo
{
    width: 100px;
    cursor: pointer; 
    margin-left: 80px;
    margin-top: 3px; 
}
#navbar
{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 80px;
}
#navbar li
{
    list-style: none;
    padding: 0 20px;
    position: relative;
}
#navbar li a
{
    text-decoration: none;
    font-size: 20px;
    color: #FFE484;  
    transition: 0.3s ease; 
}
#navbar li a:hover, 
#navbar li a.active
{
  color: rgb(255, 255, 255);
}
#navbar li a.active::after,
#navbar li a:hover::after
{
    content: "";
    width: 30%;
    height: 2px;
    background: rgb(255, 255, 255);
    position: absolute;
    bottom: -4px;
    left: 20%;
}
.c{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    height: 70%;
    margin: auto;
}
.text{
    width: 50%;
    color: white;
}
.c .text .hha{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 2rem;
    text-transform: uppercase;
    margin: 1.7rem 0;
    width: 100%;
}
.c .text p{
    width: 100%;
    height: 80px;
    font-size: 1.3rem;
}
.c .text .aaaa{
    text-decoration: none;
    background-color: rgb(255, 255, 255);
    padding: 0.3rem 1rem;
    border-radius: 1rem ;
    color: rgb(0, 0, 0);
    margin: 8rem;
    font-size: 1.7rem;
}
.c .text .aaaa:hover{
    background-color: rgb(129, 129, 129);
}
.c .image{
    width: 20%;
    height: 200px;
}
.c .image img{
    width: 18rem;
}
.icons{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 12rem;
    position: absolute;
    bottom:3.2% ;
    left: 40%;
    transform: translatex(-50%);
}
.icons img{
    width: 8rem;
    transition: 0.5s;
    margin: 15px;
}
.icons img:hover{
    transform: scale(1.4);
    cursor: pointer;
}